input[type=checkbox] {
    display: none;
}

.custom-labels {
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 2px;
    color: #444;
}

.custom-labels:hover {
    box-shadow: 0 0 5px 1px;
}

input:checked + .custom-labels {
    background: linear-gradient(#aaa, #999, #777);
    color: darkslategray;
    border: none;
    box-shadow: 0 2px 2px #555;
}

input:checked + .custom-labels:hover {
    background: linear-gradient(#bbb, #aaa, #999);
}