<div class="container-fluid p-3">
  <div class="row d-flex pb-4">
    <div class="col-6 col-lg-4 py-2" *ngFor="let platform of platformList; let i=index">
      <input type="checkbox" [(ngModel)]="platform.selected">
      <label class="custom-labels mb-0" (click)="platform.selected = !platform.selected">
        <span>{{platform.name}}</span>
      </label>
    </div>
  </div>
  <div class="row form-group justify-content-around">
    <div class="col-6 col-md-3">
      <button type="button" class="btn btn-block btn-primary" (click)="applyFilter()">Apply</button>
    </div>
    <div class="col-6 col-md-3">
      <button type="button" class="btn btn-block btn-light" (click)="applyFilter(true)">Reset</button>
    </div>
  </div>
</div>