<div>
  <header>
    <app-header-view (toggleEditorsChoiceFilter)="toggleEditorsChoiceFilter($event)"
      (searchedTitle)="searchedTitle($event)"
    ></app-header-view>
  </header>

  <nav>
    <app-nav-menu (displayFilter)="displayFilter($event)"></app-nav-menu>
  </nav>

  <section>
    <app-year-range-filter [filterKey]="filterKey" [releaseYearsRange]="releaseYearsRange" *ngIf="filterKey === 'year'"></app-year-range-filter>
  </section>

  <main class="container-fluid">
    <div class="row" *ngIf="dataReceived">
      <div class="col">
        <span class="result-count float-right">Showing {{shownPerPage}} out of {{filteredResults}} results</span>
      </div>
    </div>
    <app-container-view [gamesList]="gamesList" [loadingComplete]="dataReceived"></app-container-view>
    <div class="row form-inline justify-content-around">
      <div class="col-12 col-md-4">
        <span>Show per page: </span>
        <input type="number" [(ngModel)]="shownPerPage" (change)="updateGamesList()" class="form-control"/>
      </div>
      <div class="col-12 col-md-4">
        <span>Displaying </span>
        <input type="number" [(ngModel)]="page" (change)="updateGamesList()" class="form-control page-number"/>
        <span> of {{maxPages}} pages</span>
      </div>
    </div>
  </main>
</div>
<div *ngIf="!dataReceived" class="block-layer">
  <div class="loadingSpinner">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</div>