<div>
  <header>
    <app-header-view (toggleEditorsChoiceFilter)="toggleEditorsChoiceFilter($event)"
      (searchedTitle)="searchedTitle($event)" [showOnlyEditorsChoices]="showOnlyEditorsChoices"
    ></app-header-view>
  </header>

  <nav>
    <app-nav-menu (displayFilter)="displayFilter($event)" [filterKey]="filterKey"></app-nav-menu>
  </nav>

  <section class="filter-block" *ngIf="filterKey !== ''">
    <app-year-range-filter (yearFilters)="resetPageAndUpdateList(); filterKey = '';" *ngIf="filterKey === 'year'" [releaseYearsRange]="releaseYearsRange" [yearInputs]="filteredYears"></app-year-range-filter>

    <app-platform-filter *ngIf="filterKey === 'platform'" [allPlatformsList]="allPlatformsList" (platformFilters)="resetPageAndUpdateList(); filterKey = '';"></app-platform-filter>
    
    <app-genre-filter *ngIf="filterKey === 'genre'" [allGenresList]="allGenresList" (genreFilters)="resetPageAndUpdateList(); filterKey = '';"></app-genre-filter>

    <app-rating-filter *ngIf="filterKey === 'ratings'" [filteredRating]="filteredRating" (minRatings)="ratingFilters($event); filterKey = '';"></app-rating-filter>

    <i class="fas fa-times-circle fa-2x" (click)="filterKey = ''"></i>
  </section>

  <main class="container-fluid" *ngIf="dataReceived">
    <!-- <div class="row form-inline justify-content-around mb-2" *ngIf="filteredResults">
      
    </div> -->
    <div class="row mt-4 mb-2" *ngIf="filteredResults">
      <div class="col">
        <div class="result-counter p-1">
          <span class="text-white font-italic">Showing {{gamesList.length}} out of {{filteredResults}} results</span>
          <span class="ml-1" *ngIf="filteredResults < allGamesList.length"><a (click)="resetFilters()">Remove all filters</a></span>
        </div>
      </div>
      <div class="col-4 text-right">
          <span>Items per page: </span>
          <input type="number" [(ngModel)]="shownPerPage" (change)="setCurrentDisplayedList()" class="form-control d-inline"/>
        </div>
    </div>

    <app-container-view [gamesList]="gamesList" [loadingComplete]="dataReceived"></app-container-view>

    <app-paginator [currentPage]="page" [totalPages]="maxPages" (changePage)="changePage($event)"></app-paginator>
    
  </main>
</div>

<div class="loadingSpinner" *ngIf="!dataReceived">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>

<div class="cover-layer" *ngIf="!dataReceived || filterKey !== ''"></div>